
#escalaTable {
	background: #FFFFFF;
	margin-bottom: 2%;

	margin-left:auto; 
    margin-right:auto;

	border-collapse: collapse;
	font-size: 14px;
}

#escalaTable th {
	padding: 15px;
}

#escalaTable td {
	padding: 8px;
}

#escalaTable tr {
	border-bottom: 1px solid #ddd;
}

#escalaTable tr:hover {
	background-color: #ddd;
}

#redCircle {
	float: left;
	margin-top: 5px;
	margin-right: 8px;
    width: 8px;
    height: 8px;
    background: #FF0000;
    border-radius: 50%
}

#greenCircle {
	float: left;
	margin-top: 5px;
	margin-right: 8px;
    width: 8px;
    height: 8px;
    background: #32CD32;
    border-radius: 50%
}

.pageTabs {
	background: white;
  	display: flex;
  	float: left;
  	border: solid 1px #ddd;
  	cursor: pointer;
}

.pageTabs span {
	padding: 10px;
}

.pageTabs span:hover{
	background: #ddd;
	border: solid 1px #FFF;
}

.pageTabsActive {
  	display: flex;
  	float: left;
  	cursor: pointer;
}

.pageTabsActive span{
	background: #ddd;
	border: solid 1px #FFF;
	padding: 10px;
}

/* Some table's columns will be hidden on smaller screens */
@media screen and (max-width: 600px){
	.hiddenCols {
		display: none;
	}
}
